<!DOCTYPE html>
<html lang="en">

<head>
	<title>ProducePal</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="jumbotron big-banner" style="height: 100%; margin-bottom: 0px; padding-top:50px; background-image: url('https://cdn.discordapp.com/attachments/566635930266632208/566672892876816384/charlotte-farmers-market-background.png'); background-attachment: fixed;">

		<div class="mx-auto" style="width: 310px;">
			<div style="text-align:center;margin-top: 50px; background:rgba(0,0,0,0.5);" class="rounded">
				<h1 style="text-align:center;">
					<font style="font-weight: bold;" face="verdana" size="10" color="white">ProducePal</font>
				</h1>
			</div>
		</div>

		<div class="mx-auto" style="width: 400px;">
			<div style="text-align:center;margin-top: 50px; background-color: white;" class="rounded">
				<h4 class="text-success" font="">Find a Produce</h4>
			</div>
		</div>

		<div class="mx-auto" style="width: 400px;">

			<div class="input-group mb-3" style="text-align:center;margin:center;display: inline;">
				<form action="http://localhost:5000/result" method="POST">
					<p> <input type="text" name="Produce" class="form-control input-group-item-action" placeholder="Enter a Produce" aria-label="Username" aria-describedby="basic-addon1"/></p>
					<p><input type="Submit" value="Submit" class="btn btn-success" /></p>
				</form>
				<p>{{ err }}</p>
			</div>
		</div>

		<div class="mx-auto" style="width: 500px;">
			<div style="text-align:center;margin-top: 50px; background-color: white;" class="rounded">
				<h4 class="text-success">Produce in Season</h4>
			</div>
		</div>

		<div class="mx-auto" style="width: 500px;">
			<div class="list-group">
				<a class="list-group-item list-group-item-action" href="{{ url_for('apple') }}">{{ list[0] }}</a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('cattle') }}">{{ list[1] }}</a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('chicken') }}">{{ list[2] }}</a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('corn') }}">{{ list[3] }}</a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('cotton') }}">{{ list[4] }}</a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('egg') }}">{{ list[5] }}</a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('grapefruit') }}">{{ list[6] }}</a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('hay') }}">{{ list[7] }}</a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('hog') }}">{{ list[8] }}</a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('icecream') }}">{{ list[9] }}</a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('milk') }}">{{ list[10] }}</a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('orange') }}">{{ list[11] }}</a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('peanut') }}">{{ list[12] }}</a>
			</div>
		</div>

		<div class="mx-auto" style="width: 600px;">
			<div style="text-align:center;margin-top: 50px; background-color: white;" class="rounded">
				<h4 class="text-success">Find Fresh Produce Near You</h4>
			</div>
		</div>


		<div style="text-align:center;margin-top: 5px;" class="mx-auto">
			<iframe class="rounded" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=farmers%20market%20near%20me&key=AIzaSyAGv41F5QyfBvFSBSUC4Ch14g_qhcbVdyg&" allowfullscreen></iframe>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
